body{
		display: grid;
		height: 100%;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 50px 50px 50px  50px;

}

div.navbar{
	padding: 10px;
	color: white;
	font-size: 25px;
	font-family: sans-serif;
	background-color: #343a40;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 2;
}

div.header{
	text-align: center;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 4;
	background-image: url('5.png');
    color: white;
    background-attachment: fixed;
    background-size: cover;

}
legend{
	text-align: center;
}
form{
	text-align: center;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 4;
	grid-row-end: 5;

}
input.number{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}

.table{
	padding: 20px;
	text-align: center;
}